* {
  // font-family: "DM Sans", sans-serif;
  // font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  // font-family: "Roboto", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #393939;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #a789d5;
}

.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgb(142, 31, 173);
}